<div class="container">
  <div class="page-header">
  <h1>New Order</h1>
</div>
</div>
<div class="container">
	<%= render 'form' %>
	<div class="container">
		<%= link_to 'Back', orders_path, class: "btn btn-info" %>
	</div>
	
</div>
