// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.box{
	min-height: 250px !important;
	border : 1px solid black;

}


.box > h2{
	text-decoration: underline;
	text-align: center;
}

.box > ul{
	margin:auto;
	width: 80%;
	text-decoraion : none;
}
.box > ul > li
{
	text-decoraion : none;
}


.big-box{
	padding-top:120px;
}





