// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hiddenfriends {
	display : none;
}

select{
	min-width: 30%;
}
select > option{
	text-align: center;
}
.selectOptions > *{
	vertical-align : bottom;
}
